@import '../../scss/global.scss';
.btn {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: compVar('x-small');
  margin: compVar('xx-small');
  border-radius: compVar('x-huge');
  border: 1px solid transparent;
  font-family: 'Vickie';
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
}
.btn:focus,
.btn:focus-visible {
  outline: 1.2px solid;
}
a {
  color: $black;
}
.linkbtn {
  background: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  color: $black;
}
.btn-primary {
    @include btn-colors($color-primary, none, $navy__lighter);
    &:hover,
    &:focus,
    &:focus-visible {
        @include btn-colors($navy__light, $color-primary, $color-primary);
        box-shadow: $color-primary;
    }
}
.btn-secondary {
    @include btn-colors(transparent, $color-secundary, $color-secundary);
    &:hover,
    &:focus,
    &:focus-visible {
        @include btn-colors($yellow__light, $yellow__dark, $yellow__dark);
        box-shadow: $yellow__dark;
    }
}
.btn-xsmall, .linkbtn-xsmall {
    @include var-components(compVar('x-small') compVar('normal'), normal)
}
.btn-small, .linkbtn-small {
    @include var-components(compVar('small') compVar('xx-normal'), x-small, medium)
}
.btn-default, .linkbtn-default {
    @include var-components(compVar('xx-medium') compVar('x-big'), x-small, normal)
}
.btn-big, .linkbtn-big {
    @include var-components(compVar('x-medium') compVar('xxx-big'), x-small, x-big)
}
.btn-xbig, .linkbtn-xbig {
    @include var-components(compVar('medium') compVar('x-huge'), x-small, xx-big)
}
.btn-xsmall {
    &:hover {
        box-shadow: 2px 2px 0px 0px;
        border: 1px solid;
    }
    &:focus,
    &:focus-visible {
        box-shadow: 3px 3px 0px 0px;
    }
}
.btn-small, .btn-default {
    &:hover {
        box-shadow: 3px 3px 0px 0px;
        border: 1px solid;
    }
    &:focus,
    &:focus-visible {
        box-shadow: 4px 4px 0px 0px;
    }
}
.btn-big, .btn-xbig {
    &:hover {
        box-shadow: 4px 4px 0px 0px;
        border: 1px solid;
    }
    &:focus,
    &:focus-visible {
        box-shadow: 6px 6px 0px 0px;
    }
}
.linkbtn-xsmall {
    &:hover,
    &:focus,
    &:focus-visible {
        @include var-components(compVar('x-small') compVar('x-small') compVar('x-small') compVar('normal'), normal)
    }
}
.linkbtn-small {
    &:hover,
    &:focus,
    &:focus-visible {
        @include var-components(compVar('small') compVar('small') compVar('small') compVar('xx-normal'), x-normal, medium)
    }
}
.linkbtn-default {
    &:hover,
    &:focus,
    &:focus-visible {
        @include var-components(compVar('xx-medium') compVar('xx-medium') compVar('xx-medium') compVar('x-big'), xxx-normal, normal)
    }
}
.linkbtn-big {
    &:hover,
    &:focus,
    &:focus-visible {
        @include var-components(compVar('x-medium') compVar('x-medium') compVar('x-medium') compVar('xxx-big'), xx-big, x-big)
    }
}
.linkbtn-xbig {
    &:hover,
    &:focus,
    &:focus-visible {
        @include var-components(compVar('medium') compVar('medium') compVar('medium') compVar('x-huge'), xxx-big, xx-big)
    }
}