@import '../../scss/global.scss';

.main__about {
    background-color: $navy__lighter;
    width: 100%;
    padding: 0;
}

//      SECTIONS        //
.sectionAbout__pattern {
    padding: compVar(xx-huge) compVar(x-normal);
    display: flex;
    flex-direction: column;
    @include mq($bp-large) {
        padding: compVar(xx-huge) 5.25rem;
    }
}
.section__history, .section__team {
    background-color: $turquoise;
}
.section__history {
    padding: compVar(huge) * 3 0;
}
.section__team {
    padding: compVar(xx-huge) compVar(xxx-normal) compVar(huge) * 3 compVar(xxx-normal);
    @include mq() {
        padding: compVar(xx-huge) 5.25rem compVar(huge) * 3 5.25rem;
    }
}
.section__philosophy {
    padding: compVar(huge) * 4 compVar(xxx-normal) compVar(huge) * 2;
    gap: 5.75rem;
    border-radius: 0rem 0rem compVar(x-big) compVar(x-big);
    background-color: $turquoise;
}
.section__commitment {
    padding: compVar(huge) * 2 compVar(xxx-normal);
    gap: compVar(small);
}
.section__philosophy, .section__commitment {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: calc(100% - compVar(xxx-normal) * 2);
    @include mq($bp-large) {
        padding: compVar(huge) * 4 5.25rem;
        gap: 9rem;
        width: calc(100% - 5.25rem * 2);
    }
}
.section__contact {
    align-items: center;
    overflow: hidden;
    padding: 5.75rem 0rem 11.625rem 0rem;
    gap: 5.75rem;
}

//      ARTICLES        //
.articleAbout__pattern {
    display: flex;
    flex-direction: column;
}
.article__history {
    align-items: center;
    padding: compVar(xxx-big) compVar(xxx-normal);
    gap: compVar(x-normal);
    @include mq($bp-large) {
        padding: compVar(xx-huge) compVar(huge) * 3;
    }
}
.article__commitmentSection {
    @include var-components(compVar(medium) 0 0 compVar(huge) * 2, x-normal);
    @include mq() {
        @include var-components(compVar(medium) 0 0 compVar(xxx-big) * 4, x-big);
    }
    @include mq($bp-large) {
        @include var-components(compVar(medium) 0 0 compVar(x-huge) * 8, xx-huge);
    }
}
.article__contactSection {
    align-items: center;
    text-align: center;
    @include var-components(0 compVar(xxx-normal), big, medium, calc(100% - compVar(xxx-normal) * 2));
    @include mq() {
        @include var-components(0 compVar(x-huge) * 3, big);
        width: calc(100% - (compVar(x-huge) * 3) * 2);
    }
    @include mq($bp-large) {
        @include var-components(0 compVar(huge) * 6, big);
        width: calc(100% - (compVar(huge) * 6) * 2);
    }
}

//      DIVS        //


//      SPANS       //
.cupsbg {
    background-repeat: repeat-x;
    background-size: 620px;
    background-position: top;
    width: 100%;
    height: 152px;
    @include mq() {
        background-size: 823px;
        height: 130px;
    }
}
.cupsbg--v1 {
    background-image: url(../../../public/svgs/coffeeCups-designV1.svg);
}
.cupsbg--v2 {
    background-image: url(../../../public/svgs/coffeeCups-designV2.svg);
}

//      LISTS       //
.btn-memberTeam {
    background: none;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem compVar(medium);
    gap: compVar(x-normal);
    margin: 0;
    color: $color-primary;
    text-align: left;
    & p {
        font-family: 'Red Hat Display', sans-serif;
    }
    @include mq() {
        width: min-content;
    }
    &:hover,
    &:focus,
    &:focus-visible {
        outline: none;
        border: none;
        box-shadow: none;
        & .img__itemMember, .img__imgItem {
            border-radius: 18.75rem;
            transition: border-radius 0.2s;
        }
        & .img__imgItem {
            filter: grayscale(0%);
        }
    }
}
.list__members {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: compVar(xx-huge) compVar(xx-normal) 0rem compVar(xx-normal);
    gap: compVar(big) * 2;
    @include mq() {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: compVar(xx-huge) 0 0 0;
    }
}
.item__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: compVar(x-normal);
    @include mq() {
        padding: 0rem compVar(medium);
        width: min-content;
    }
}
//      SPECIFICS       //
    //      IMGS-SVGS       //
.logoName path {
    fill: $white;
}
.img__itemMember {
    width: 100%;
    height: 22.1875rem;
    object-fit: cover;
    border-radius: compVar(xx-normal);
    box-shadow: 6px 6px 0px 0px $color-secondary;
    @include mq() {
        height: 27.8125rem;
        min-width: 21.125rem;
        border-radius: compVar(x-big);
    }
    @include mq($bp-large) {
        width: 20rem;
    }
}
.img__imgItem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: compVar(xx-normal);
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%);
    @include mq() {
        border-radius: compVar(x-big);
    }
}
.img__philosophySection, .img__commitmentSection {
    width: 17.5rem;
    height: 21.125rem;
    position: absolute;
    border-radius: 7.5rem;
    object-fit: cover;
    z-index: -1;
    @include mq() {
        width: 23.4375rem;
        height: 28.3125rem;
        border-radius: 11.25rem;
    }
    @include mq($bp-large) {
        width: 40.4375rem;
        border-radius: 15rem;
    }
}
.img__philosophySection {
    right: -3.1rem;
    top: 1.375rem;
    @include mq() {
        right: -11.6875rem;
        top: -0.0425rem;
    }
    @include mq($bp-large) {
        right: -8.4375rem;
        top: 0;
    }
}
.img__commitmentSection {
    left: -10rem;
    top: 8.62875rem;
    @include mq() {
        left: -13.3125rem;
        top: 5.9175rem;
    }
    @include mq($bp-large) {
        left: -16.5625rem;
        top: 28rem;
    }
}
    //      TYPOS       //
.h2.name__itemMember {
    font-family: 'Vickie';
    @include mq($bp-large) {
        font-size: fs(xx-big);
    }
}