//----- para crear clases con cada font size -----
@each $name, $value in $size-vars {
    .fs-#{$name} {
        font-size: $value;
    }
}

//----- para hacer clases con los colores para los textos y para los bg -----
@each $key, $value in $color-list {
    .text-#{$key} {
        color: $value;
    }
    
    .color-bg-#{$key} {
        background-color: $value;
    }

    [fill="#{$key}"] {
        fill: $value;
    }
    [stroke="#{$key}"] {
        stroke: $value;
    }
    .fill-#{$key} {
        fill: $value;
    } 
}

/* MARGINS */

.margin-bottom__lv01 {
    margin-bottom: 4px;
}
.margin-bottom__lv02 {
    margin-bottom: 8px;
}
.margin-bottom__lv03 {
    margin-bottom: 12px;
}
.margin-bottom__lv04 {
    margin-bottom: 18px;
}
.margin-bottom__lv04 {
    margin-bottom: 24px;
}
.margin-bottom__lv05 {
    margin-bottom: 36px;
}
.margin-bottom__lv06 {
    margin-bottom: 42px;
}
.margin-bottom__lv07 {
    margin-bottom: 54px;
}
.margin-bottom__lv08 {
    margin-bottom: 64px;
}
.margin-bottom__lv09 {
    margin-bottom: 72px;
}
.margin-bottom__lv10 {
    margin-bottom: 84px;
}
.display--none {
    display: none;
}
.display--flex {
    display: flex;
}