@import '../../scss/global.scss';

.list__menu {
    display: flex;
    align-items: flex-end;
    @include var-components(compVar(none) compVar(xx-normal), xxx-small);
    height: 28.75rem;
    overflow: scroll;
    @include mq() {
        @include var-components(compVar(none) compVar(x-big) * 2, xxx-small);
        height: 38.25rem;
    }
}
.itemMenu__down {
    height: fit-content;
}
.itemMenu__up {
    height: calc(100% - (compVar(big) * 6) - compVar(normal));
    @include mq() {
        height: calc(100% - (compVar(x-big) * 7) - compVar(normal));
    }
}
.itemMenu__bgimg--turquoise {
    background-color: $turquoise;
}
.itemMenu__bgimg--yellow__light {
    background-color: $yellow__light;
}