@import '../../scss/global.scss';

//      SECTION     //
.sectionSponsor__pattern {
    display: flex;
    flex-direction: column;
}
.section__introSponsor {
    justify-content: center;
    align-items: center;
    width: calc(100% - 1.125rem * 2);
    height: calc(100svh - 9rem - 12.125rem);
    gap: 0.625rem;
    padding: 4.5rem 1.125rem;
    background-image: url(../../../public/imgs/boxeswatervolunteer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: compVar(x-big);
}
.section__activitiesSponsor {
    align-items: flex-start;
    padding-top: compVar(xx-huge);
    gap: compVar(x-small);
}

//      ARTICLE     //
.articleSponsor__pattern {
    display: flex;
    flex-direction: column;
}
.article__introSponsor {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: compVar(xx-huge) compVar(xx-normal);
    gap: compVar(xx-normal);
    border-radius: compVar(x-big);
    background-color: rgba(220, 249, 244, 0.90);
    width: calc(100% - compVar(xx-normal) * 2);
    @include mq() {
        width: min-content;
        padding: compVar(xx-huge) compVar(xx-big) * 2;
    }
}
.article__activitiesSponsor {
    gap: compVar(x-big) * 2;
}
.article__joinSponsor {
    padding: compVar(x-huge) 0;
    gap: compVar(xxx-big) * 2;
}

//      DIVS        //
.invitation__joinSponsor {
    display: flex;
    flex-direction: column;
    gap: compVar(x-medium);
}

//      SPAN        //

//      LISTS       //
.activitiesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: compVar(x-huge);
    @include mq() {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
}

//      SPECIALS        //
.title__activitiesSponsor {
    color: $turquoise__lighter;
    font-size: fs(x-big);
    text-align: center;
    @include mq() {
        font-size: fs(xxx-big);
    }
    @include mq($bp-large) {
        font-size: fs(huge);
    }
}
.img__activity {
    border-color: $turquoise__lighter;
    padding: 0;
}
