@import '../../scss/global.scss';

.burgerMenu--closed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include var-components(compVar(medium) compVar(xx-medium), x-small);
}
.btn-burgerMenu, .btn-close {
    background: none;
    border: none;
    &:hover,
    &:focus,
    &:focus-visible {
        border: none;
        box-shadow: none;
        outline: none;
    }
}
.btn-burgerMenu svg {
    display: none;
};
.line__burgerMenu--closed {
    display: flex;
    height: compVar(xxx-small);
    width: compVar(x-big);
    border-radius: compVar(xxx-small);
    background-color: $color-secondary;
}
.burgerMenu--open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include var-components(compVar(xx-huge) compVar(xx-normal), small, medium, 26.75rem);
    border-radius: 0rem 0rem 2.625rem 2.625rem;
    background-color: $gray;
}
.topbar__burgerMenu--open {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo__topbar__burgerMenu path {
    fill: $black;
}
.list__socialMenu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}