@import '../../scss/global.scss';

.topbar {
    display: flex;
    justify-content: space-between;
    width: calc(100% - compVar(big) * 2);
    padding: compVar(big);
}
.logoSymbol {
    background-color: $color-primary;
    & path {
        fill: $color-secondary;
    }
}
.logoSymbol__topbar--sponsorship {
    background-color: $turquoise;
    & path {
        fill: $turquoise__darker;
    }
}
.burgerMenu--closed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include var-components(compVar(medium) compVar(xx-medium), x-small);
    @include mq() {
        display: none;
    }
}
.btn-burgerMenu {
    background: none;
    border: none;
    &:hover,
    &:focus,
    &:focus-visible {
        border: none;
        box-shadow: none;
        outline: none;
    }
}
.btn-burgerMenu svg {
    display: none;
};
.line__burgerMenu--closed {
    display: flex;
    height: compVar(xxx-small);
    width: compVar(x-big);
    border-radius: compVar(xxx-small);
    background-color: $color-secondary;
}
.nav__topbar {
    display: none;
    @include mq() {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: compVar(x-big);
        background: rgba(255, 255, 255, 0.89);
        height: fit-content;
        @include var-components(compVar(normal) compVar(x-normal), x-huge);
    }
}
.link__nav {
    text-decoration: none;
    font-family: 'Vickie';
    &:hover,
    &:focus,
    &:focus-visible {
        color: $turquoise;
    }
    &:focus,
    &:focus-visible {
        text-decoration: 3px solid $turquoise;
    }
}