@import '../../scss/global.scss';

.itemMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 0;
    min-width: 11.125rem;
    @include var-components(compVar(big) * 6 compVar(normal) compVar(normal) compVar(normal), x-medium);
    @include mq() {
        min-width: 13.75rem;
        @include var-components(compVar(x-big) * 7 compVar(normal) compVar(normal) compVar(normal), medium);
    }
}
.bgimg__itemMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.125rem;
    height: 17.5rem;
    position: absolute;
    left: 1.375rem;
    top: 0.4375rem;
    border-radius: 5.25rem;
    background-color: $navy__light;
    z-index: -1;
    @include mq() {
        width: 13.75rem;
        height: 21.5rem;
        border-radius: 6.5625rem;
    }
}
.img__itemMenu {
    width: 100%;
    transition: none;
}
.itemMenu:hover {
    & .img__itemMenu {
        width: 12.5rem;
        position: absolute;
        right: 24px;
        transition: width 0.15s;
        @include mq() {
            width: 16rem;
            right: 0;
        }
    }
}
.category__itemMenu {
    font-family: 'Vickie';
    @include mq() {
        font-size: fs(normal);
    }
}
.btn__itemMenu {
    @include mq($bp-large) {
        @include var-components(compVar('small') compVar('xx-normal'), x-small, medium);
        &:hover {
            box-shadow: 3px 3px 0px 0px;
            border: 1px solid;
        }
        &:focus,
        &:focus-visible {
            box-shadow: 4px 4px 0px 0px;
        }
        @include mq($bp-large) {
            &:hover {
                box-shadow: 4px 4px 0px 0px;
                border: 1px solid;
            }
            &:focus,
            &:focus-visible {
                box-shadow: 6px 6px 0px 0px;
            }
        }
    }
}