@import '../../scss/global.scss';

.category__list {
    display: flex;
    overflow: scroll;
    justify-content: flex-start;
    width: 100%;
    @include mq($bp-large) {
        justify-content: space-around;
    }
}
.category__link {
    text-decoration: none;
}