@import '../../scss/global.scss';

a {
    text-decoration: none;
}
ul {
    padding: 0;
    list-style-type: none
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: compVar(xxx-normal) * 2 0rem;
    gap: compVar(xxx-big);
    width: 100%;
    position: relative;
    background-color: $color-primary;
}
.sectionFooter__pattern {
    display: flex;
    flex-direction: column;
    padding: 0rem compVar(xxx-normal);
    gap: compVar(huge);
    width: calc(100% - compVar(xxx-normal) * 2);
    @include mq($bp-large) {
        padding: 0rem 5.25rem;
        width: calc(100% - 5.25rem * 2);
    }
}
.section__menus {
    align-items: flex-start;
    gap: compVar(xx-medium);
}
.input__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: compVar(normal);
    @include mq() {
        flex-direction: row;
        align-items: flex-end;
    }
}
.title__newsletter {
    font-family: 'Vickie';
}
.menu__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: calc(100% - compVar(x-small) * 2);
    padding: 0 compVar(x-small);
}
.main__menusFooter {
    @include mq() {
        justify-content: flex-start;
        gap: compVar(xx-huge) * 2;
    }
}
.squareSeparation__footer {
    position: absolute;
    top: -6.125rem;
    & .linedown__squareSeparation {
        padding-left: 50px;
    }
    @include mq($bp-large) {
        top: -9.85rem;
        & .linedown__squareSeparation {
            padding-left: 80px;
        }
    }
}
.itemSM__footer {
    color: $white;
}
.logo__footer path, .icon__footer path {
    fill: $white;
}