@import '../../scss/global.scss';

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: compVar(medium);
    @include mq() {
        gap: compVar(x-normal);
    }
    @include mq($bp-large) {
        gap: compVar(xxx-normal);
    }
}
.img__product {
    width: 17.5rem;
    height: 17.5rem;
    border-radius: compVar(normal);
    border: 1px solid $color-primary;
    background-color: $navy__lighter;
    @include mq() {
        width: 23rem;
        height: 23rem;
        border-width: 2px;
    }
    @include mq($bp-large) {
        width: 28.5rem;
        height: 28.5rem;
    }
}
.btn-product__size {
    @include var-components(compVar('small') compVar('xx-normal'), x-small, medium);
    &:hover {
        box-shadow: 3px 3px 0px 0px;
        border: 1px solid;
    }
    &:focus,
    &:focus-visible {
        box-shadow: 4px 4px 0px 0px;
    }
    @include mq() {
        @include var-components(compVar('xx-medium') compVar('x-big'), x-small, normal);
    }
}
.btns__product {
    display: flex;
    align-items: flex-start;
    gap: compVar(normal);
}
.btninfo__product {
    padding: compVar(xx-medium) 1.35rem;
    @include mq() {
        padding: compVar(xx-medium) 1.5rem;
    }
}