@import '../../scss/global.scss';

.main__home {
    padding: 0;
    width: 100%;
    background-color: $turquoise;
}

//      SECTIONS        //
.sectionHome__pattern {
    padding: compVar(xx-huge) compVar(x-normal);
    display: flex;
    flex-direction: column;
}
.section__intro {
    justify-content: space-between;
    align-items: center;
    height: calc(100svh - compVar(xx-huge) * 2);
    width: calc(100% - compVar(x-normal) * 2);
    background: url('../../../../imgs/cups-lukes-navybg.webp') no-repeat;
    background-size: cover;
}
.section__menu {
    background-color: $navy__lighter;
    padding: 8.25rem 0;
}
.section__about {
    position: relative;
    border-radius: 0rem 0rem 2.625rem 2.625rem;
    background-color: $color-primary;
    padding: 12rem 0 8rem 0;
    @include mq($bp-large) {
        padding: 16rem 0 10rem 0;
    }
}
.section__reviews {
    align-items: center;
    padding: compVar(xx-huge) 0;
    gap: compVar(xx-big);
}
.section__community {
    background-image: url('../../../../imgs/peoplehangingout.webp');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 14.25rem 1.75rem;
    @include mq($bp-large) {
        padding: 14.25rem 25.75rem;
    }
}

//      ARTICLES        //
.article__sloganIntro {
    display: flex;
    align-items: flex-end;
    padding-bottom: compVar(huge);
    height: calc(100% - compVar(huge));
    width: 100%;
}
.article__sectionMenu, .article__about {
    padding: 0 compVar(xxx-normal);
    @include mq($bp-large) {
        padding: 0 5.25rem;
    }
}
.article__about {
    display: flex;
    flex-direction: column;
    gap: compVar(x-huge);
    @include mq($bp-large) {
        flex-direction: row;
    }
}
.article__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% - compVar(xxx-normal) * 2);
    @include var-components(0 compVar(xxx-normal), big);
    @include mq() {
        @include var-components(0 compVar(x-huge) * 3, big);
        width: calc(100% - (compVar(x-huge) * 3) * 2);
    }
    @include mq($bp-large) {
        @include var-components(0 compVar(huge) * 6, big);
        width: calc(100% - (compVar(huge) * 6) * 2);
    }
}
.article__community {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../../../svgs/bg-sticker.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    @include var-components(compVar(big) * 2 compVar(xx-huge), x-normal);
    max-width: 230px;
    @include mq() {
        @include var-components(compVar(xx-normal) * 5 compVar(xxx-big), big);
        max-width: 382px;
    }
    @include mq($bp-large) {
        @include var-components(compVar(xx-normal) * 5 compVar(x-big) * 3, big);
    }
}

//      DIVS        //
.infoluke__articleAbout {
    display: flex;
    justify-content: space-between;
    gap: compVar(xx-medium);
    width: 100%;
    @include mq() {
        display: flex;
        padding: compVar(medium) compVar(xx-medium);
        justify-content: flex-end;
        align-items: flex-end;
        gap: compVar(normal);
    }
    @include mq($bp-large) {
        width: fit-content;
    }
}
.description__infoLuke {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include mq() {
        justify-content: flex-end;
        align-items: flex-start;
        gap: compVar(normal);
    }
    @include mq($bp-large) {
        gap: compVar(x-huge);
    }
}

//      SPECIFIC ITEMS      //
.squareSeparation__home {
    position: absolute;
    top: -3.24rem;
    @include mq($bp-large) {
        top: -5.18rem;
    }
}
.title__sectionMenu {
    color: $turquoise;
    text-align: center;
    padding: compVar(normal) 0;
}
.imgLuke__articleAbout {
    width: 10.0625rem;
    height: 14rem;
    border-radius: compVar(normal);
    object-fit: cover;
    box-shadow: 4px 4px 0px 0px $color-secondary;
    @include mq() {
        width: 15.9375rem;
        height: 22.1875rem;
        border-radius: compVar(xx-normal);
        box-shadow: 6px 6px 0px 0px $color-secondary;
    }
    @include mq($bp-large) {
        width: 25.1875rem;
        height: 35.0625rem;
        border-radius: compVar(x-big);
    }
}